* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f1f5f9;
}
header {
  text-align: center;
  background-color: #0ea5e9;
  width: 100%;
  height: 160px;
}
.title {
  padding: 50px;
  color: white;
}
nav {
  text-align: center;
  border-radius: 10px;
  margin: 20px;
  background-color: #e0f2fe;
  height: 40px;
  padding: 10px;
}
a {
  text-decoration: dashed;
  margin: 15px;
  padding: 15px;
}
a:hover {
  text-decoration: dashed;
  margin: 8px;
  padding: 8px;
  background-color: #0284c7;
  border-radius: 10px;
}
.gioiThieu {
  width: 100%;
  height: 140px;
  background-color: white;
  margin: 20px;
  border-radius: 10px;
}
.noiDungGioiThieu {
  margin: 20px;
  padding: 40px;
}
.camKet {
  background-color: #ecfeff;
  width: 100%;
  height: 215px;
  border-radius: 10px;
  border-left: 6px solid #0ea5e9;
}
.camKet_v1 {
  margin: 20px;
  padding: 20px;
}
li {
  margin: 20px;
  list-style: none;
}
footer {
  width: 100%;
  height: 125px;
  background-color: #0f172a;
  border-radius: 10px;
}
.footer {
  text-align: center;
  margin: 20px;
  padding: 30px;
  color: white;
}
